body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
     list-style: none;
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 0;
 }

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
     text-decoration: none;
 }

 img{
    display: block;
 }

 button{
    cursor: pointer;
 }

.container{
    width: 1158px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.header-navigation{
    display: flex;
    align-items: center;
}
.header-link{
    padding-top: 24px;
    padding-bottom: 24px;
}
.active::after{
    content:"";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;;
}

.header-list{
    display: flex;
    gap: 40px;
}

.contact-item{
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container{
    display: flex;
    align-items: center;
}
.contact-list{
    display: flex;
    gap: 40px;
}
.contact{
    margin-left: auto;
}

.description{
    padding-top: 120px;
    padding-bottom: 120px;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
}
.header-logo span{
    color: #2e2f42;
}
.header-link{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        position: relative;
        /* color: #404bbf; */
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
}

.active{
    color: #404bbf;
}

.contact{
    font-style: normal;
}
.contact-link{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
}
/* ---TITLE--- */
.title{
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ) ,url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
.title-prime {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
} 

.title-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
        min-width: 169px;
        height: 56px;
        border-radius: 4px;
        border: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-btn:hover,
.title-btn:focus{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #404bbf;
        cursor: pointer;
}

/* ---DESCRIPTION--- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.description{
    padding-top: 120px;
    padding-bottom: 120px;
}
.description-list{
    display: flex;
    gap: 24px;
}
.description-item{
    width: 264px;
    width: calc((100% - 72px)/4)
}

.description-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

/* .team-soc-icons{
    display: flex;
} */

.description-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.description-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ---TEAM--- */
.team-icons-list{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.team-soc-link{
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus{
    /* background-color: #31d0aa; */
    background-color: #404bbf;
}

.team-soc-icons{
    /* fill: #fff; */
    fill: #f4f4fd;

}

.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list{
    display: flex;
    gap: 24px;
    flex-basis: calc((100 - 3 * 24)/4);

}
.team-item{
        background: #fff;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.data{
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        
        
}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.data{
    padding-top: 32px;
    padding-bottom: 32px;
}
/* ---PORTFOLIO--- */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.ocrug{
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
        width: 360px;
        height: 120px;
}

.portfolio-item {
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-description{
    transform: translateY(0);
    cursor: pointer;
}

.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-img {}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-description{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #4d5ae5;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        padding-top: 40px;
        padding-left: 32px;
        padding-bottom: 40px;
        padding-right: 32px;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-description-text{
    position: relative;
    overflow: hidden;
}

/* ---FOOTER--- */
.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
        
}

.footer-logo-black {
        color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;

}
.footer-container{
    margin-right: 120px;
}
.soc-media{
    color: #FFFFFF;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer-icons-list {
    display: flex;
    gap: 16px;
}
.footer-icons-item{
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus{
    background-color: #31d0aa;
}


.footer-soc-icons {
    fill: #f4f4fd;
}

.footer-container-list{
    list-style: none;
    gap: 120px;
}


/* HOMEWORK OPTIMIZATION */


.social{
    display: flex;
    align-items: baseline;
}

/* INPUT SUBSCRIBE */

.subscribe{
    /* display: flex; */
    /* justify-content: center;*/
    margin-left: 80px; 
}

.title-input{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
}

.input-form{
    background-color: transparent;
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        margin-top: 16px;
}

.input-form::placeholder{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        padding-left: 16px;

}

.btn-sub{
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4d5ae5;
    color:#fff;
    border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
}

.btn-icon{
    fill: #f4f4fd;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}
